<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue JS Demo</title>
  <meta name="description" content="Learning Vue JS">
  <meta name="author" content="Todd">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <script src="../src/app-intro.js"></script>
    <script src="../src/app-2.js"></script>
    <script src="../src/app-3.js"></script>
    <script src="../src/app-3.js"></script>
    <script src="../src/app-4.js"></script>
    <script src="../src/app-5.js"></script>
  </body>
</html>

